
<%- include("header") -%>
<h1>About me</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem harum corporis laboriosam, qui alias illum voluptatum explicabo quod laborum beatae libero, in dolorum temporibus quas voluptatibus fugiat perferendis. Iusto, quo.</p>
<%- include("footer") -%>